@import "tailwindcss";

/* Reset root elements to ensure no unwanted scrolling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
